<html lang="th">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="submit.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Mali:ital@1&family=Playfair+Display&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a href='/'>กิจกรรม</a>
            <a href='/card'> สคส</a>
        </nav>
        <div class="container">
            <h2>IG นี้ถูกใช้ลงทะเบียนไปแล้วว</h2></br>
            <h3>ขอบคุณที่มาเข้าร่วมกิจกรรมของน้องกล้วยนะงับ แต่ได้แค่คนละ 1 โควตาเท่านั้นน้าา</h3>
            <button onclick="window.location='./'">กลับหน้ากิจกรรม</button>
        </div>
        <div class="decoration">
            <img id="img1" src="./img/banana.png">
            <img id="img2" src="./img/banana.png">
            <img id="img3" src="./img/banana.png">
            <img id="img4" src="./img/banana.png">
            <img id="img5" src="./img/banana.png">
            <img id="img6" src="./img/banana.png">
        </div>
    </body>
</html>